// BEGIN of CSS RESET

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

// HTML5 display-role reset for older browsers

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

// END of CSS RESET

// 1 - END of Including files ("fonts.css", "reset.css" and others) ----------------------------------------------------------
// 2 - BEGIN of Tags and General styles ----------------------------------------------------------

body
  min-height: 500px
  margin: 0 auto
  font-family: Inter, sans-serif
  font-weight: normal
  font-size: 18px
  color: #000
  background: url(../img/main-bg.jpg)


h1, .h1
  margin-bottom: 24px
  font-family: Opus
  font-weight: bold
  font-size: 46px
  line-height: 52px
  letter-spacing: 0.005em
  color: #263239

h2,.h2
  margin-bottom: 32px
  text-align: center
  font-family: Opus
  font-weight: bold
  font-size: 36px
  line-height: 48px
  color: #263239

h3,.h3
  margin-bottom: 24px
  font-family: Opus
  font-weight: bold
  font-size: 26px
  line-height: 32px

h4, .h4
  margin-bottom: 15px
  font-family: Opus
  font-weight: bold
  font-size: 24px
  line-height: 28px
  color: #000

h5, .h5
  font-size: 18px
  line-height: 24px

h6, .h6
  margin-bottom: 16px
  font-weight: bold
  font-size: 16px
  line-height: 20px
  color: #000

p
  line-height: 26px

a
  color: #3B4256
  text-decoration: none
  outline: none
  -webkit-transition: all .3s ease
  -o-transition: all .3s ease
  transition: all .3s ease
  &:hover
    opacity: 0.7
    text-decoration: none
    outline: none
    color: inherit
  &:active
    opacity: 0.6
    outline: none
    color: inherit
    text-decoration: none
  &:focus
    outline: none
    color: inherit
    text-decoration: none

button, input, textarea, select
  padding: 0
  -webkit-transition: all .3s ease
  -o-transition: all .3s ease
  transition: all .3s ease

button:hover, input:hover, textarea:hover, select:hover
  opacity: 0.8

strong
  font-weight: bold

em
  font-style: italic

img
  max-width: 100%

*
  box-sizing: border-box


*::-webkit-input-placeholder 
  color: #455A64
  font-size: 15px

*:-moz-placeholder 



*::-moz-placeholder 



*:-ms-input-placeholder 




.slick-slide
  outline: none

.row
    margin-left: -15px
    margin-right: -15px

    [class^='col-']
      padding-left: 15px
      padding-right: 15px