

@font-face
  font-family: 'Inter'
  src: url('../fonts/Inter/Inter-Regular.woff2') format("woff2"), url('../fonts/Inter/Inter-Regular.woff') format("woff")
  font-weight: normal
  font-style: normal
  font-display: swap


@font-face
  font-family: 'Inter'
  src: url('../fonts/Inter/Inter-Bold.woff2') format("woff2"), url('../fonts/Inter/Inter-Bold.woff') format("woff")
  font-weight: bold
  font-style: normal
  font-display: swap


@font-face
  font-family: 'Opus'
  src: url('../fonts/Opus/Opus.woff2') format("woff2"), url('../fonts/Opus/Opus.woff') format("woff")
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Opus'
  src: url('../fonts/Opus/AGOpus-BoldCyrillic.woff2') format("woff2"), url('../fonts/Opus/AGOpus-BoldCyrillic.woff') format("woff")
  font-weight: bold
  font-style: normal
  font-display: swap


@font-face
  font-family: 'icomoon'
  src: url('../fonts/icomoon/icomoon.eot?ogx9w7')
  src: url('../fonts/icomoon//icomoon.eot?ogx9w7#iefix') format("embedded-opentype"), url('../fonts/icomoon//icomoon.ttf?ogx9w7') format("truetype"), url('../fonts/icomoon//icomoon.woff?ogx9w7') format("woff"), url('../fonts/icomoon//icomoon.svg?ogx9w7#icomoon') format("svg")
  font-weight: normal
  font-style: normal
  font-display: block

[class^="icon-"], [class*=" icon-"]
  font-family: 'icomoon'
  speak: never
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1


.icon-viber:before
  content: "\e915"
  color: #fff

.icon-search:before
  content: "\e916"

.icon-angle-down:before
  content: "\e900"

.icon-angle-left:before
  content: "\e901"

.icon-angle-right:before
  content: "\e902"

.icon-arrow-right:before
  content: "\e903"

.icon-burger:before
  content: "\e904"

.icon-burger2:before
  content: "\e905"

.icon-cart:before
  content: "\e906"

.icon-check:before
  content: "\e907"

.icon-cross:before
  content: "\e908"

.icon-facebook:before
  content: "\e909"

.icon-finger:before
  content: "\e90a"

.icon-grid:before
  content: "\e90b"

.icon-insta:before
  content: "\e90c"

.icon-list:before
  content: "\e90d"

.icon-ok:before
  content: "\e90f"

.icon-telegram:before
  content: "\e910"

.icon-twitter:before
  content: "\e911"

.icon-user:before
  content: "\e912"

.icon-vk:before
  content: "\e913"

.icon-whatsapp:before
  content: "\e914"