@import "vars"
@import "fonts"
@import "base"
// 2 - END of Tags styles and General styles ----------------------------------------------------------
// 3 - BEGIN of header ----------------------------------------------------------



.header
	position: relative
	transition: all .3s


	&-top
		padding: 12px 0
		background: #F6F7F7

		&__wrap
			display: flex
			align-items: center
			justify-content: space-between

		&__place
			position: relative
			top: 2px
			display: inline-block
			padding-right: 16px
			margin-right: 17px
			font-size: 15px
			line-height: 18px

			&:before
				content: '\e900'
				position: absolute
				right: 0
				top: 1px
				font-family: icomoon
				font-size: 10px

		&__menu
			list-style: none

			li
				display: inline-block
				margin: 0 17px

				a
					font-size: 14px
					font-family: Opus
					color: #263239

			&--wrap
				display: flex
				flex-wrap: wrap
				align-items: center

		&__login
			position: relative
			display: flex
			flex-wrap: wrap
			align-items: center
			min-height: 32px
			padding-left: 38px

			&:before
				content: ''
				position: absolute
				left: 0
				top: 0
				width: 32px
				height: 32px
				background: url(../img/user-icon.png)
				background-size: contain

			span
				padding-left: 2px
				padding-right: 2px
				font-size: 15px
				line-height: 18px
				color: #000
				

	&-middle
		padding: 13px 0

		&__wrap
			display: flex
			justify-content: space-between
			align-items: center


		&__place
			position: relative
			display: inline-block
			padding: 9px 6px 9px 32px
			background: #F6F7F7
			border-radius: 4px
			font-size: 14px
			line-height: 18px

			&:before
				content: ''
				position: absolute
				left: 6px
				top: 6px
				width: 24px
				height: 24px
				background: url(../img/placeholder-icon.png)
		
		&__tel
			text-align: right

			&--number
				display: block
				font-weight: bold
				font-family: Opus
				font-size: 24px
				line-height: 28px
				color: #000

			&--callback
				font-size: 14px
				line-height: 18px

				span
					padding-left: 8px
					color: #4B4B4B

				a
					color: #CC0000
					border-bottom: 1px dashed #CC0000

	&-social
		list-style: none

		li
			display: inline-block
			margin-right: 4px

			&:last-child
				margin: 0

			a
				display: flex
				align-items: center
				justify-content: center
				width: 32px
				height: 32px
				border-radius: 50%
				font-size: 16px
				color: #fff

		&__vk
			background: #4B729F

		&__facebook
			background: #3B5999

		&__insta
			background: linear-gradient(49.12deg, #FFDD55 6.62%, #FF543E 50.06%, #C837AB 93.5%)

		&__ok
			background: #FF9800

		&__telegram
			background: #0088CC

		&__whatsapp
			background: #0DC143

		&__viber
			background: #675DA9



	&-nav
		background: #455A64

		&__wrap
			display: flex
			flex-wrap: wrap
			justify-content: space-between
			align-items: center

	&-cart
		position: relative

		&__btn
			position: relative
			display: inline-block
			padding: 14px 26px 14px 70px
			font-family: Opus
			font-weight: bold
			font-size: 16px
			line-height: 20px
			background: #263239
			color: #fff

			&:hover
				color: #fff

			&:before
				content: ''
				position: absolute
				left: 26px
				top: 8px
				width: 32px
				height: 32px
				background: url(../img/bag-icon.png)

		&__block
			display: none
			max-height: calc(100vh - 200px)
			position: absolute
			width: 372px
			right: 0
			top: 100%
			padding: 24px 16px 16px
			background: #fff
			border-radius: 6px
			z-index: 100
			box-shadow: 0px 8px 32px rgba(61, 95, 102, 0.24)
			overflow-y: scroll

			&::-webkit-scrollbar-track
				-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3)
				background-color: #EBEBEB

			&::-webkit-scrollbar
				width: 3px
				border-radius: 2px


			&::-webkit-scrollbar-thumb
				border-radius: 10px
				-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3)
				background: #999

		.h4
			padding-bottom: 12px
			margin-bottom: 12px
			border-bottom: 1px solid #ECECEC
			color: #263239

			
		&__item
			display: flex
			flex-direction: row
			align-items: center
			padding-bottom: 12px
			border-bottom: 1px solid #ECECEC

			img
				max-width: 64px
				max-height: 56px

			&--text
				width: calc(100% - 88px)
				padding-left: 12px
				padding-right: 8px

				span
					display: block
					font-size: 14px
					line-height: 16px
					color: #455A64

				strong
					font-size: 16px
					line-height: 20px

			&--del
				padding: 0
				background-color: transparent
				outline: none
				border: 0
				color: #96969C
				font-size: 24px

				&:hover
					opacity: 1
					color: #000

		.basket-total__sum
			padding-top: 12px
			margin-bottom: 12px

		.btn
			width: 100%




.btn
	display: inline-block
	padding: 22px 26px 18px
	border-radius: 4px
	font-family: Opus
	font-weight: bold
	font-size: 22px
	line-height: 36px
	outline: none
	border: 0
	text-align: center

	&-finger
		display: inline-flex
		align-items: center
		justify-content: center

		.icon
			font-size: 32px
			color: #fff

			&+span
				margin-left: 16px

		span
			&+.icon
				margin-left: 16px


	

	&-red
		background: $red
		color: #fff

		&:hover, &:focus
			color: #fff
			background: #DE0B0B
			opacity: 1

			&:active


	&-transparent
		padding: 21px 30px 17px
		color: #263239
		text-align: center
		background: #fff
		border: 1px solid #ECECEC

		&:hover
			border-color: #E0E0E0
			opacity: 1

		

	&-arrow
		display: inline-flex
		align-items: center
		justify-content: center

		.icon
			margin-left: 16px

	&-small
		padding: 12px 18px 9px
		font-size: 16px
		line-height: 25px

		.icon
			font-size: 20px

	&-cart
		display: flex
		align-items: center
		justify-content: center
		width: 56px
		height: 46px
		border: 1px solid $red
		border-radius: 4px
		color: $red
		font-size: 22px

		&:hover
			opacity: 1
			color: #fff
			background: $red

	&-grey
		background: #96969C
		color: #fff

		span
			color: #E0E0E0
			transition: all .3s

		&:hover
			opacity: 1
			background: $red
			color: #fff

			span
				color: #fff
			


.main-menu
	display: flex
	flex-wrap: wrap
	align-items: center
	list-style: none

	>li
		margin: 0 16px

		&:first-child
			margin-left: 0

		a
			display: block
			font-size: 14px
			line-height: 18px
			color: #fff

			&.catalog-btn
				display: flex
				align-items: center
				flex-wrap: wrap
				padding: 14px 16px
				background: $red
				color: #fff

				&:hover
					opacity: 1
					background: #DE0B0B

				&:active
					background: #B80303

				span
					padding-left: 18px
					font-family: Opus
					font-weight: bold
					font-size: 16px
					line-height: 20px

				.icon
					font-size: 20px

				&.active

					.icon
						&:before
							content: '\e908'

		&.drop
			position: relative

			&:before
				content: ''
				position: absolute
				height: 18px
				left: 0
				right: 0
				bottom: -18px
				background-color: transparent

			>a
				position: relative
				padding-right: 22px
				

				&:before
					content: '\e900'
					position: absolute
					right: 0
					top: 1px
					font-family: icomoon
					font-size: 9px


.drop-menu
	visibility: hidden
	opacity: 0
	z-index: -1
	position: absolute
	left: 0
	top: calc(100% + 18px)
	padding: 24px
	min-width: 302px
	list-style: none
	background: #FFFFFF
	box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.16)
	border-radius: 6px
	transform: translateY(-10px)
	transition: all .3s

	&.active
		visibility: visible
		opacity: 1
		z-index: 999
		transform: translate(0)


	li
		margin-bottom: 16px
		font-size: 14px
		line-height: 16px

		&:last-child
			margin-bottom: 0

		a
			color: #000

			&:hover
				color: $red


.banner
	max-width: 1920px
	margin: 0 auto

	&.slick-dotted.slick-slider
		margin: 0 auto

	&-item
		position: relative

		>img
			height: 550px
			object-fit: cover

	&-overlay
		position: absolute
		left: 0
		top: 0
		bottom: 0
		right: 0
		padding: 56px 0

	&-text
		max-width: 678px

		&__header
			margin-bottom: 10px
			font-family: Opus
			font-weight: bold
			font-size: 46px
			line-height: 52px
			letter-spacing: 0.005em
			color: #263239

		p
			margin-bottom: 38px
			font-size: 16px
			color: #455A64

		&__btn
			display: flex
			flex-wrap: wrap
			align-items: center
			margin-bottom: 25px

			.btn-red
				margin-right: 24px

		&__security
			display: flex
			align-items: center

			img
				margin: 0 12px

			span
				font-size: 14px
				line-height: 16px
				color: #535357



.slick

	&-dots
		bottom: 18px

		li
			width: auto
			height: auto
			margin: 0 6px
			button
				padding: 0
				width: 10px
				height: 10px
				border-radius: 50%
				background: #96969C

				&:before
					display: none

			&.slick-active

				button
					width: 12px
					height: 12px
					background: $red

	&-arrow
		width: 18px
		height: 30px
		z-index: 1

		&:before
			color: #E0E0E0
			font-size: 30px
			opacity: 1
			font-family: icomoon
			transition: all .3s

		&:hover

			&:before
				color: #000



	&-prev
		left: 8%

		&:before
			content: '\e901'


	&-next
		right: 8%

		&:before
			content: '\e902'


	&-custom
		display: flex
		flex-wrap: wrap
		align-items: center
		justify-content: center
		
		&__btn
			padding: 0
			border: 0
			outline: none
			background-color: transparent
			width: auto
			height: auto

			.icon
				font-size: 30px
				color: #96969C
				transition: all .3s


			&:hover
				.icon
					color: $red

		&__dots
			margin: 0 10px
			.slick-dots
				position: static
				line-height: 0






.section
	padding: 64px 0

	&.inner
		padding: 0 0 64px

		h1
			span
				display: inline-block
				vertical-align: middle
				font-size: 16px
				line-height: 20px
				color: #455A64
				font-family: Inter
				font-weight: normal

	&-faq
		padding-top: 96px

		.faq
			margin-bottom: 0

.catalog

	&-page
		display: flex
		flex-wrap: wrap

	&-products
		width: calc(100% - 270px)
		padding-left: 30px

	&-item
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		align-items: center
		height: 104px
		padding: 0 24px
		margin-bottom: 30px
		background: #F5F5F5
		border-radius: 6px
		border: 1px solid #F5F5F5

		span
			width: calc(100% - 84px)
			font-size: 16px
			line-height: 20px

		svg
			path
				transition: all .3s

		&:hover
			opacity: 1
			background: #FFFFFF
			border-color:  #ECECEC
			box-shadow: 0px 8px 24px rgba(163, 197, 204, 0.24)

			svg
				path
					fill: #000000

		&__brands
			justify-content: flex-start
			span
				width: auto

				&:last-child
					padding-left: 20px
					max-width: 178px

			.catalog-item__img
				position: relative
				width: auto

				img
					display: block
					transition: all .3s

					&:last-child
						position: absolute
						left: 0
						top: 0
						
						opacity: 0


			&:hover
				.catalog-item__img
					

					img
						&:first-child
							position: absolute
							left: 0
							top: 0
							
							opacity: 0

						&:last-child
							position: static
							
							opacity: 1

	&-top
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		align-items: center
		margin-bottom: 12px

		&__sorting
			display: flex
			flex-wrap: wrap
			font-size: 16px
			line-height: 20px

			span
				padding-right: 12px
				color: #455A64

			.jq-selectbox
				width: auto
				&__select
					width: auto
						
				.jq-selectbox__select-text
					position: relative
					padding: 0 15px 0 0
					border-radius: 0
					border: 0
					outline: none
					color: $red
					background: transparent
					font-size: 16px
					line-height: 20px
					border-bottom: 1px dashed
					cursor: pointer


					&::after
						right: 0
						top: 1px
						font-size: 10px
						color: $red
						


				&.opened
					.jq-selectbox__select-text
						

						&::after
							transform: rotate(180deg)

				.jq-selectbox__dropdown
					position: absolute
					top: 20px!important
					left: 0!important
					z-index: 999
					min-width: 100%
					max-width: 100%
					


					ul
						max-height: none !important
						min-width: 190px
						padding: 5px 0
						list-style: none
						overflow-y: scroll
						border-top: none
						background: #fff
						box-shadow: 0px 8px 24px rgba(163, 197, 204, 0.24)
						border-radius: 4px


						li
							padding: 6px 12px
							font-size: 14px
							line-height: 18px
							border: 0
							transition: all .3s
							cursor: pointer

							&:hover
								color: #000

						&::-webkit-scrollbar-track
							-webkit-box-shadow: inset 0
							background-color: #fff


						&::-webkit-scrollbar
							width: 0

						&::-webkit-scrollbar-thumb
							-webkit-box-shadow: inset 0
							background: #fff

		&__view
			display: inline-flex
			padding: 2px
			background: #ECECEC
			border-radius: 64px

			a
				display: flex
				align-items: center
				justify-content: center
				width: 48px
				height: 34px
				border-radius: 38px
				font-size: 16px
				color: #96969C

				&.active
					background: #fff
					color: #000
	&-pagination
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		align-items: center

		&__select
			.jq-selectbox
				width: auto
				&__select
					width: auto
						
				.jq-selectbox__select-text
					position: relative
					padding: 0 15px 0 0
					border-radius: 0
					border: 0
					outline: none
					color: #000
					background: transparent
					font-size: 16px
					line-height: 20px
					cursor: pointer


					&::after
						right: 0
						top: 1px
						font-size: 10px
						color: #000
						


				&.opened
					.jq-selectbox__select-text
						

						&::after
							transform: rotate(180deg)

				.jq-selectbox__dropdown
					position: absolute
					top: 20px!important
					left: 0!important
					z-index: 999
					min-width: 100%
					max-width: 100%
					


					ul
						max-height: none !important
						min-width: 190px
						padding: 5px 0
						list-style: none
						overflow-y: scroll
						border-top: none
						background: #fff
						box-shadow: 0px 8px 24px rgba(163, 197, 204, 0.24)
						border-radius: 4px


						li
							padding: 6px 12px
							font-size: 14px
							line-height: 18px
							border: 0
							transition: all .3s
							cursor: pointer

							&:hover
								color: #000

						&::-webkit-scrollbar-track
							-webkit-box-shadow: inset 0
							background-color: #fff


						&::-webkit-scrollbar
							width: 0

						&::-webkit-scrollbar-thumb
							-webkit-box-shadow: inset 0
							background: #fff


	&-menu
		display: none
		position: absolute
		left: 0
		right: 0
		top: 200px
		padding: 24px 0 50px
		height: 100vh
		overflow-y: scroll
		z-index: 100
		background: #fff

		&__wrap
			display: flex
			flex-wrap: wrap



		&__item
			display: flex
			flex-wrap: wrap
			margin-bottom: 56px

			&:hover

				svg
					path
						fill: $red


		&__img
			width: 64px

			svg
				path
					transition: all .3s

		&__links
			width: calc(100% - 64px)
			padding-left: 24px

			.h4
				margin-bottom: 12px
				color: #263239

			&--list
				list-style: none

				li
					margin-bottom: 12px

					&:last-child
						margin-bottom: 0

					a
						font-size: 16px
						line-height: 20px
						color: #455A64

						&:hover
							color: $red
							opacity: 1



			





















.scew
	position: relative

	&:before
		content: ''
		position: absolute
		left: 0
		right: 0
		top: 0
		bottom: 0
		background: #F2F4F5
		transform: skewY(-1deg)
		z-index: -1


.advantages
	padding: 0

	&:before
		transform: skewY(-2deg)

	&-slider
		margin-left: -15px
		margin-right: -15px

		&__item
			height: 338px
			margin-left: 15px
			margin-right: 15px
			padding: 24px
			background: #fff

			img
				margin: 0 auto 16px

			p

				font-size: 16px

	&-block
		display: flex
		flex-direction: column
		justify-content: center
		height: 296px
		margin-bottom: 72px
		background: url(../img/advantages-block-bg.png) no-repeat
		background-size: cover

		.h2
			color: #fff

		&__wrap
			display: flex
			flex-wrap: wrap
			justify-content: space-between
			max-width: 770px
			margin: 0 auto
			width: 100%

		&__item
			display: flex
			align-items: center
			flex-wrap: wrap

			&--number
				position: relative
				display: flex
				align-items: center
				justify-content: center
				width: 84px
				height: 84px
				font-family: Opus
				font-weight: bold
				font-size: 64px
				line-height: 64px
				color: #263239
				background: #ECECEC
				border-radius: 50%

				span
					position: absolute
					bottom: -20px
					right: -20px
					width: 48px
					height: 48px
					background: $yellow
					display: flex
					align-items: center
					justify-content: center
					font-size: 28px
					line-height: 28px
					border-radius: 50%



			&--value
				padding-left: 16px
				font-size: 16px
				line-height: 20px
				color: #fff


.valuation

	&-wrap
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		margin-bottom: 32px

	&-item
		width: 19%
		padding: 24px
		background: #FFF
		border: 1px solid #ECECEC
		box-shadow: 0px 8px 24px rgba(163, 197, 204, 0.24)
		border-radius: 6px

		&__text
			min-height: 140px

			&--number
				margin-bottom: 16px
				font-family: Opus
				font-weight: bold
				font-size: 64px
				line-height: 64px
				color: #455A64

			p
				font-size: 16px
				line-height: 20px
				color: #263239

	&-btn
		text-align: center



.tabs
		
	&-nav
		margin-bottom: 32px
		list-style: none
		text-align: center
		border-bottom: 2px solid #D9D9DE

		li
			display: inline-block
			vertical-align: middle

			a
				position: relative
				display: block
				padding: 0 24px 12px
				font-size: 16px
				line-height: 20px
				color: #000

				&.active
					&:before
						content: ''
						position: absolute
						left: 0
						right: 0
						bottom: -2px
						height: 4px
						background: $red
					


	&-mobile__btn
		display: none

	&-item
		display: none

		&.active
			display: block




	&-radio

		&-nav
			display: inline-flex
			margin-bottom: 24px
			padding: 6px
			border: 1px solid #ECECEC
			border-radius: 6px
			list-style: none


			li
				margin-right: 16px

				&:last-child
					margin-right: 0

				a
					display: block
					padding: 12px 18px 9px
					font-weight: bold
					font-size: 16px
					line-height: 25px
					color: #535357
					border-radius: 4px


					&.active
						color: #fff
						background-color: $red
		
		
		&-wrap
			.tabs

				&-item
					display: none

					&.active
						display: block








.form
	max-width: 470px
	padding: 36px
	background: #FFFFFF
	border: 1px solid #ECECEC
	box-shadow: 0px 8px 24px rgba(163, 197, 204, 0.24)
	border-radius: 6px

	&-field
		position: relative
		background-color: transparent
		width: 100%
		height: 64px
		line-height: 64px
		padding: 0 22px 0
		background: #ECECEC
		border-radius: 4px
		border: 1px solid #ECECEC
		outline: none
		color: #455A64
		font-size: 15px
		line-height: 18px

		&:hover
			opacity: 1

		&:focus
			&::-webkit-input-placeholder
				opacity: 0

		&.readonly
			background: #96969C
			color: #ECECEC

			

	&-label
		position: absolute
		left: 22px
		top: 19px
		font-size: 15px
		line-height: 18px
		color: #535357
		cursor: text
		transform-origin: top left
		transform: translate(0, 0) scale(1) 
		transition: all .1s ease-in-out
		background-color: transparent
		z-index: -1

	&-item
		position: relative
		margin-bottom: 16px

		&__code
			display: flex
			align-items: center
			justify-content: space-between

			.btn, .form-item
				width: 48%
				margin: 0

			.form-item
				&.active

					label
						font-size: 8px
						top: -6px

			.form-field
				height: 46px
				line-height: 46px
				font-size: 16px

		&.active
			

			.form-field
				border-color: #96969C
				background: #fff

				&.readonly
					background: #96969C

					&+.form-label
						color: #ECECEC
				

			.form-label
				top: -2px
				font-size: 12px
				line-height: 14px
				transform: translate(0, 8px)
				color: #535357
				z-index: 5

			textarea
				padding-top: 18px

		&__select
			position: relative	
			margin-bottom: 16px		

			&--label
				position: absolute
				left: 22px
				top: 10px
				font-size: 12px
				line-height: 16px
				z-index: 11

		&__attach
			padding: 12px 22px
			margin-bottom: 16px
			border-radius: 4px
			border: 1px solid #ECECEC
			background: #F5F5F5

		&__call
			margin-top: 16px
			text-align: center

			span
				display: block
				margin-bottom: 8px
				font-size: 14px
				line-height: 16px
				color: #96969C

			a
				position: relative
				display: inline-block
				padding: 6px 0
				padding-left: 44px
				font-size: 16px
				line-height: 20px
				color: #000

				&:before
					content: ''
					position: absolute
					left: 0
					top: 0
					width: 32px
					height: 32px
					background: url(../img/whatsapp-icon.png)


	textarea
		height: 96px
		padding-top: 16px


	&-search
		position: relative
		max-width: 320px
		width: 100%

		&__field
			width: 100%
			height: 48px
			padding-left: 12px
			padding-right: 56px
			line-height: 48px
			background: #fff
			border: 0
			outline: 0
			font-size: 15px
			line-height: 18px
			box-shadow: 0px 6px 24px rgba(107, 145, 153, 0.24)

			

		&__btn
			position: absolute
			right: 4px
			top: 4px
			display: flex
			align-items: center
			justify-content: center
			width: 52px
			height: 40px
			background: #F0D218
			border-radius: 4px
			border: 0
			outline: none

	.btn
		width: 100%

.footnote
	font-size: 16px
	line-height: 26px
	color: #455A64

	a
		color: #000




select
	display: none

.jq-selectbox
	position: relative
	width: 100%

	&__select
		width: 100%
			
	.jq-selectbox__select-text
		position: relative
		padding: 27px 14px 17px 22px
		border-radius: 4px
		border: 1px solid #ececec
		outline: none
		color: #263239
		background: #ececec
		font-size: 15px
		line-height: 18px


		&::after
			content: '\e900'
			position: absolute
			right: 16px
			top: 24px
			font-family: icomoon
			font-size: 10px
			color: #535357
			


	&.opened
		.jq-selectbox__select-text
			border-color: #96969C
			background: #fff

			&::after
				transform: rotate(180deg)

	.jq-selectbox__dropdown
		position: absolute
		top: 64px!important
		left: 0!important
		z-index: 100
		min-width: 100%
		max-width: 100%

		
		


		ul
			max-height: 145px !important
			padding: 8px 0
			list-style: none
			overflow-y: scroll
			border-top: none
			background: #fff
			box-shadow: 0px 8px 32px rgba(61, 95, 102, 0.24)
			border-radius: 4px


			li
				padding: 6px 16px
				font-size: 14px
				line-height: 18px
				border-bottom: 1px solid rgba(256,256,256, .8)
				transition: all .3s
				cursor: pointer

				&:hover
					color: #000


			&::-webkit-scrollbar-track
				-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3)
				background-color: #EBEBEB


			&::-webkit-scrollbar
				width: 6px
				
				border-radius: 2px


			&::-webkit-scrollbar-thumb
				border-radius: 10px
				-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3)
				background: #96969C



.average

	&-amount
		margin: 32px 0 20px

		p
			margin-bottom: 6px
			font-size: 14px
			line-height: 16px
			color: #455A64

		strong
			font-weight: bold
			font-size: 46px
			line-height: 52px
			color: $red



.pawnshop-mobile
	display: flex
	justify-content: flex-end
	

.mobile
	&-bg
		background: url(../img/pawnshop-mobile.png) no-repeat 10% center

	&-menu
		display: none

.attach

	&__item
		&:last-of-type
			margin-bottom: 0px
			border-bottom: none

	&__up
		display: inline-block
		padding: 12px 18px 9px
		background: #FFFFFF
		border: 1px solid #ECECEC
		border-radius: 4px
		color: #455A64
		font-family: Opus
		font-weight: bold
		font-size: 16px
		line-height: 25px


	&__edit, &__delete
		display: none
		margin-right: 3px
		cursor: pointer

	&__edit
		color: #2f7dfe
	

	&__delete
		color: #000
		font-size: 24px


	&__input
		display: none

	&__name
		display: inline-block
		font-size: 16px
		line-height: 22px
		color: #000000


.attach__item--attached
	width: 50%
	margin-bottom: 10px

	.attach__up
		display: none

	.attach__delete
		position: relative
		top: 2px
		display: inline-block
		vertical-align: middle





.radio-list, .check-list
	list-style: none

	&__item
		display: block

		input[type="radio"], input[type='checkbox']
			display: none

			&+label
				position: relative
				display: block
				padding: 0 0 0 30px
				cursor: pointer
				font-size: 15px
				line-height: 18px
				color: #000

				&::before
					content: ''
					position: absolute
					left: 0
					top: -1px
					width: 24px
					height: 25px
					display: flex
					align-items: center
					justify-content: center
					background-color: #fff
					border: 1px solid #E0E0E0
					border-radius: 4px
					


			&:checked
				&+label
					&::before
						content: '\e907'
						font-family: icomoon
						color: #000
						font-size: 12px
						background: $yellow


		&.agreement
			margin-top: 16px
			padding-top: 8px
			input[type="radio"], input[type='checkbox']
				&+label
					&::before
						top: -2px


			a
				color: #000


.tariff

	&-wrap
		display: flex
		flex-wrap: wrap
		align-items: center
		font-size: 16px
		line-height: 26px
		color: #455A64

		p
			margin-bottom: 15px

		ul
			padding: 0 0 0 20px



.news

	&-wrap

		&__list
			max-width: 670px
			padding-top: 36px
			border-top: 1px solid #ECECEC

			.news
				&-item
					display: flex
					flex-wrap: wrap
					margin-bottom: 36px

					&__img
						width: 270px
						margin: 0

					&__info
						width: calc(100% - 270px)
						padding-left: 24px
						display: flex
						flex-direction: column
						justify-content: space-between

	&-item

		&__img
			display: block
			margin-bottom: 24px

			img
				display: block
				border-radius: 6px

		&__text
			height: 78px
			margin-bottom: 24px
			overflow: hidden
			font-size: 16px
			line-height: 26px

			a
				color: #000

				&:hover
					color: $red
					opacity: 1

		&__bottom
			display: flex
			justify-content: space-between
			align-items: center
			font-size: 15px
			line-height: 18px
			color: #535357

			a
				padding: 8px 16px
				color: #535357
				background: #F5F5F5
				border-radius: 64px


	.news-wrap
		margin-bottom: 56px
		



.cities

	&-wrap
		display: flex
		flex-wrap: wrap
		justify-content: center
		margin-left: -6px
		margin-right: -6px

	&-item
		margin: 0 6px 12px
		padding: 8px 16px
		background: #ECECEC
		font-size: 14px
		line-height: 22px
		border-radius: 75px
		color: #455A64

		&:hover
			opacity: 1
			background: #F0D218
			color: #000



.footer

	&-links
		padding: 56px 0 6px
		background: #F2F4F5

		&__item
			margin-bottom: 30px

			ul
				list-style: none

				li
					margin-bottom: 12px
					font-size: 16px
					line-height: 26px
					color: #455A64

					a
						&:hover
							color: $red
							opacity: 1

	&-info
		display: flex
		flex-wrap: wrap
		align-items: center
		padding: 32px 0 18px

		p
			width: calc(100% - 320px)
			padding-left: 38px
			font-size: 14px
			line-height: 22px
			color: #455A64

			
	&-logo
		width: 320px

	&-bottom

		&__wrap
			display: flex
			justify-content: space-between
			align-items: center
			flex-wrap: wrap
			padding: 18px 0
			border-top: 1px solid #ECECEC
			font-size: 14px
			line-height: 16px
			color: #666666

		&__link
			color: $red
			border-bottom: 1px solid

		&__dev
			display: flex
			align-items: center

			span
				padding-right: 15px


.breadcrumbs
	margin: 24px 0 16px
	list-style: none

	li
		display: inline-block
		margin-right: -0.03em
		font-size: 14px
		line-height: 18px


		+ li::before
			content: "\/"
			display: inline-block
			vertical-align: middle
			padding: 0 16px 0 16px
			font-size: 18px
			line-height: 18px
			color: #ECECEC

		a
			color: $red



.contacts

	&-block
		padding: 40px 36px
		border: 1px solid #ECECEC
		box-shadow: 0px 8px 24px rgba(163, 197, 204, 0.24)
		border-radius: 6px

		.h4, h4
			color: #263239

		&__item
			margin-bottom: 16px

			span
				display: block
				margin-bottom: 2px
				font-size: 15px
				line-height: 18px
				color: #96969C

			a
				display: inline-block
				font-size: 16px
				line-height: 26px
				color: #000000

			&+.h4
				padding-top: 16px


.social

	&-btn
		list-style: none

		li
			display: inline-block
			margin-right: 4px
			vertical-align: middle

			&:last-child
				margin-right: 0

			a
				display: flex
				align-items: center
				justify-content: center
				width: 48px
				height: 48px
				font-size: 24px
				background: #F5F5F5
				border: 1px solid #ECECEC
				border-radius: 6px

				&:hover
					background: $red
					opacity: 1
					color: #fff

.map

	&-main
		margin-bottom: 64px


	&-list
		background: url(../img/map-list-bg.png) no-repeat 95% top

		&__wrap
			max-width: 770px

		&__top
			display: flex
			flex-wrap: wrap
			justify-content: space-between
			margin-bottom: 24px

			.form-item__select
				width: 32%

		&__item
			display: flex
			flex-wrap: wrap
			padding: 32px
			margin-bottom: 24px
			background: #FFFFFF
			border: 1px solid #ECECEC
			box-shadow: 0px 8px 24px rgba(163, 197, 204, 0.24)
			border-radius: 6px

			&--img
				width: 160px

			&--text
				padding-left: 24px
				width: calc(100% - 160px)

				p
					font-size: 16px

					&.color-grey
						padding-top: 8px
						margin-bottom: 16px
						font-size: 14px
						line-height: 16px

						span
							padding-left: 5px
							padding-right: 5px

	&-place
		display: flex
		padding-bottom: 64px

		&__info
			text-align: center

			img
				display: block
				margin: 0 auto 44px

		.ymap
			height: 100%





.ymap
	width: 100%
	height: 450px

.color

	&-grey
		color: #535357

	&-red
		color: $red


.page-404
	max-width: 730px
	margin: 0 auto
	padding-bottom: 64px
	text-align: center

	p
		margin-bottom: 10px
		color: #455A64
		font-size: 16px
		line-height: 20px

		strong
			color: #000

	&__btn
		padding-top: 12px

		.btn
			margin-right: 24px

			&:last-child
				margin-right: 0



.pagination
	display: flex
	align-items: center
	flex-wrap: wrap
	justify-content: center
	list-style: none

	li
		margin: 0 6px
		color: #000

		&:not(.pagination-arrow)

			a
				display: flex
				align-items: center
				justify-content: center
				width: 36px
				height: 36px
				color: #000
				font-size: 15px
				line-height: 18px
				border-radius: 4px

				&.active
					border: 1px solid

				&:hover, &:focus
					background: #ECECEC
					border-color: #ECECEC

	&-arrow

		a
			display: inline-block
			color: #535357
			font-size: 14px



.article
	max-width: 770px

	h1, .h1
		position: relative
		padding-bottom: 24px

		&:before
			content: ''
			position: absolute
			width: 1170px
			left: 0
			bottom: 0
			height: 1px
			background: #ECECEC

	p
		margin-bottom: 16px
		color: #455A64
		font-size: 16px


.faq
	margin-bottom: 50px

	&-item
		max-width: 740px
		margin-bottom: 16px
		border-radius: 6px
		border: 1px solid transparent

		&__header
			position: relative
			padding: 24px 56px 24px 16px
			font-size: 16px
			line-height: 20px
			background: #ECECEC
			border-radius: 6px
			cursor: pointer
			transition: all .3s

			&:before
				content: '\e900'
				position: absolute
				width: 32px
				height: 32px
				display: flex
				align-items: center
				justify-content: center
				border-radius: 50%
				right: 16px
				top: 18px
				color: #fff
				background: $red
				font-size: 12px
				font-family: icomoon

		&__body
			display: none
			position: relative
			padding: 18px 16px
			font-size: 16px
			line-height: 24px

			&:before
				content: ''
				position: absolute
				left: 16px
				right: 16px
				height: 1px
				top: 0
				background: rgba(255, 255, 255, 0.2)

			p
				margin-bottom: 20px

				&:last-child
					margin-bottom: 0

		&.active
			border-color: #E0E0E0
			
			.faq
				&-item

					&__header
						background: $red
						color: #fff

						&:before
							content: '\e900'

					&__body
						display: block





.sidebar
	width: 270px
	height: 100%
	background: #fff
	box-shadow: 0px 8px 24px rgba(163, 197, 204, 0.24)
	border-radius: 6px
	&-item
		padding: 16px
		border-bottom: 1px solid #ECECEC

		&:last-child
			border: 0

		&__header
			position: relative
			cursor: pointer

			&:before
				content: '\e900'
				position: absolute
				right: 0
				top: 0
				font-size: 9px
				color: #000
				font-family: icomoon

			&.active
				&:before
					transform: rotate(180deg)


		&__action
			display: flex
			justify-content: space-between
			align-items: center

		.btn
			width: 100%
			margin-bottom: 12px

			&:last-child
				margin-bottom: 0

	&-mobile__btn
		display: none
		background: $yellow
		width: 36px
		height: 36px
		outline: none
		border: 0
		border-radius: 0 2px 2px 0

	&-filters
		
		&__item
			position: relative
			padding-top: 10px
			overflow-y: scroll

			&::-webkit-scrollbar-track
				background-color: #fff


			&::-webkit-scrollbar
				width: 6px
				border-radius: 2px


			&::-webkit-scrollbar-thumb
				border-radius: 10px
				background: #ECECEC

			.check-list__item
				margin-bottom: 14px

			.check-list__item input[type=checkbox]+label::before, .check-list__item input[type=radio]+label::before, .radio-list__item input[type=checkbox]+label::before, .radio-list__item input[type=radio]+label::before
				top: -4px




#slider-range
	margin: 0 auto 18px
	width: auto

.range-slider

	&> span
		display: block
		margin-bottom: 5px

.amount-wrapper
	position: relative
	display: flex
	justify-content: space-between

.amount-input__wrapper
	display: flex
	align-items: center
	padding: 12px 12px 10px
	width: 48%
	color: #455A64
	font-size: 15px
	line-height: 18px
	border: 1px solid #E0E0E0
	border-radius: 6px

	input
		display: inline-block
		width: 100%
		outline: none
		background: #fff
		font-size: 14px
		border: 0


	span
		display: inline-block
		padding-right: 12px
		font-size: 16px


	.ui-widget-header
		border: none
		background: #000

.ui-widget-content
	height: 4px
	border-radius: 10px
	background: #E0E0E0
	border: none

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
	border: none
	width: 16px
	height: 16px
	border-radius: 50%
	border: 2px solid #E0E0E0
	background: #fff

.ui-slider-horizontal
	.ui-slider-range
		height: 4px
		border-radius: 0
		background: $yellow
	.ui-slider-handle
		outline: none
		top: -6px
		margin-left: -.7em
		cursor: pointer

.price-filter__value
	padding: 10px 0 0
	font-size: 10px
	color: #BEBEBE



.switch

	&-check
		display: none

		&+label
			position: relative
			display: block
			width: 38px
			height: 20px
			border-radius: 10px
			border: 1px solid #666
			cursor: pointer
			transition-duration: 300ms

			&:after
				content: ""
				position: absolute
				height: 14px
				width: 14px
				border-radius: 50%
				background: #666
				top: 2px
				left: 3px
				transition-duration: 300ms
				z-index: 1

		&:checked

			&+label
				border-color: $yellow

				&::after
					left: 19px
					background: $yellow

.product

	&-wrap
		display: flex
		flex-wrap: wrap
		margin-left: -8px
		margin-right: -8px

		[class^='col']
			padding-left: 8px
			padding-right: 8px

		&__table


			&.row
				margin: 0

				[class^='col']
					width: 100%
					padding: 0

			.product


				&-item
					display: flex
					flex-wrap: wrap
					padding: 16px

					&__img
						height: 106px
						max-width: 134px
						width: auto
						margin: 0

						a
							display: inline
					&__info
						display: flex
						flex-wrap: wrap
						align-items: center
						justify-content: space-between
						width: calc(100% - 134px)
						padding-left: 16px

					&__text
						height: auto
						margin: 0
						max-width: 270px

					&__btn
						min-width: 270px



				


	&-item
		padding: 12px
		margin-bottom: 30px
		background: #FFF
		border: 1px solid #ECECEC
		box-shadow: 0px 8px 24px rgba(163, 197, 204, 0.24)
		border-radius: 8px

		&__img
			height: 213px
			margin-bottom: 16px

			a
				display: block

			img
				max-height: 100%

		&__text
			height: 70px
			overflow: hidden
			margin-bottom: 12px

		&__name
			margin-bottom: 6px
			font-size: 16px
			line-height: 20px
			color: #000

			a
				color: #000

		&__address
			font-size: 15px
			line-height: 18px
			color: #535357

		&__price
			margin-bottom: 16px
			font-size: 16px
			font-weight: bold
			color: #000

		&__btn
			display: flex
			flex-wrap: wrap
			justify-content: space-between

			.btn-arrow
				width: calc(100% - 62px)
				span
					color: #455A64

				.icon
					font-size: 16px

	&-description

		&__item
			margin-bottom: 32px
			font-size: 16px
			color: #455A64

			.h4
				margin-bottom: 6px
				color: #263239

		&__address
			display: flex
			flex-wrap: wrap
			justify-content: space-between

			strong
				color: #000

	&-characteristic
		list-style: none

		li
			position: relative
			display: flex
			flex-wrap: wrap
			justify-content: space-between
			margin-bottom: 16px

			&:before
				content: ''
				position: absolute
				left: 0
				right: 0
				bottom: 1px
				width: 100%
				border-bottom: 1px dashed #535357

			span
				position: relative
				background: #fff

				&:first-child
					padding-right: 3px

				&:last-child
					padding-left: 3px
					color: #000

	&-condition

		&__status
			position: relative
			display: inline-block
			padding: 8px 12px 8px 32px
			margin-bottom: 6px
			font-size: 16px
			line-height: 20px
			color: #455A64
			border: 1px solid #ECECEC
			border-radius: 6px

			&:before
				content: ''
				position: absolute
				left: 12px
				top: 12px
				width: 12px
				height: 12px
				border-radius: 50%

			&--blue
				&:before
					background: #39B9E1

			&--green
				&:before
					background: #51CE74

			&--yellow
				&:before
					background: #DACB44

			&--orange
				&:before
					background: #DB883C





.card
	margin-bottom: 76px

	&-img
		display: flex
		justify-content: space-between
		align-items: center
		flex-wrap: wrap
		margin-bottom: 32px

		&__slider
			width: calc(100% - 115px)


			&--nav
				width: 99px
				padding: 40px 0 40px
				height: 100%

				.slick-slide
					margin-bottom: 16px
					outline: none
					cursor: pointer

				.slick-arrow
					left: 0
					right: 0
					margin: auto
					height: 40px
					width: 100%
					text-align: center
					padding: 0
					background: #fff
					z-index: 100

					&:hover, &:focus
						opacity: 1

					&:before
						content: '\e900'
						font-family: icomoon
						color: #000
						font-size: 20px


				.slick-next
					bottom: 0
					top: auto
					
					

				.slick-prev
					bottom: auto
					top: 0

					&:before
						position: absolute
						left: 0
						right: 0
						top: 0
						bottom: 0
						margin: auto
						transform: scale(-1, -1)
					
	&-info
		padding: 32px 24px
		box-shadow: 0px 8px 24px rgba(163, 197, 204, 0.24)
		border-radius: 6px

		&__price
			margin-bottom: 12px
			font-weight: bold
			font-size: 36px
			line-height: 48px

			&--wrap
				display: flex
				flex-wrap: wrap
				align-items: center
				margin-bottom: 6px

			&--old
				color: #C6C6C6
				text-decoration: line-through

			&--sale
				padding-left: 12px
				color: $red
				font-size: 20px


		.btn
			width: 100%

			.icon
				font-size: 32px
				display: inline-block
				vertical-align: sub

			span
				padding-left: 16px
				display: inline-block





.color
	margin-bottom: 24px

	&-header
		font-size: 14px
		margin-bottom: 10px

	&-list
		display: flex
		flex-wrap: wrap
		list-style: none

		input[type="radio"]
			display: none

			&+label
				position: relative
				display: block
				width: 36px
				height: 36px
				margin-right: 6px
				cursor: pointer
				border-radius: 6px

			&:checked
				&+label
					border: 4px solid #DBDBDB














.basket
	padding-top: 62px

	&-header
		display: flex
		align-items: center
		justify-content: space-between
		flex-wrap: wrap


		h1, .h1
			margin: 0


		&__del
			font-size: 16px
			line-height: 20px
			color: #535357

	&-table
		display: table
		width: 100%
		border-collapse:separate
		border-spacing: 0 48px

		&__row
			display: table-row

			&:first-child
				.basket-table__col
					&:after
						content: ''
						position: absolute
						left: 0
						right: 0
						top: -24px
						width: 100%
						height: 1px
						background: #ECECEC

		&__col
			position: relative
			display: table-cell
			vertical-align: middle

			&:before
				content: ''
				position: absolute
				left: 0
				right: 0
				bottom: -24px
				width: 100%
				height: 1px
				background: #ECECEC
			

			&:first-child
				width: 75%

			&--del
				width: 20px

				button
					padding: 0
					background: transparent
					outline: none
					border: 0
					font-size: 24px
					line-height: 24px

					.icon
						color: #535357
						transition: all .3s

					&:hover
						opacity: 1

						.icon
							color: #000


		&__info
			display: flex
			align-items: center

			&--img
				display: flex
				align-items: center
				justify-content: center
				max-height: 96px
				max-width: 96px

				img
					max-height: 100%

			&--text
				display: flex
				flex-direction: column
				width: calc(100% - 96px)
				padding-left: 24px
				padding-right: 12px

				.h6
					margin-bottom: 6px
					font-weight: normal

				p
					margin-bottom: 6px
					font-size: 14px
					line-height: 16px
					color: #535357


		

	&-total
		margin: 50px 0 0
		padding: 32px 24px
		background: #FFFFFF
		border: 1px solid #ECECEC
		box-shadow: 0px 8px 24px rgba(163, 197, 204, 0.24)
		border-radius: 6px

		.h4
			margin-bottom: 12px
			color: #263239

		&__list
			padding: 12px 0
			margin-bottom: 12px
			list-style: none
			border-top: 1px solid #E0E0E0
			border-bottom: 1px solid #E0E0E0

			li
				display: flex
				align-items: center
				justify-content: space-between
				flex-wrap: wrap
				margin-bottom: 8px

				&:last-child
					margin-bottom: 0

			span
				font-size: 15px
				line-height: 18px
				color: #535357


				&:last-child
					color: #000

		&__sum
			display: flex
			align-items: center
			justify-content: space-between
			margin-bottom: 24px

		.btn
			width: 100%


	&-order
		max-width: 970px
		margin: 0 auto

		&__item
			max-width: 446px
			padding: 0 0 24px
			margin: 0 0 24px
			border-bottom: 1px solid #ECECEC

			&:last-child
				border: 0

			.h4
				margin-bottom: 16px
				color: #263239

			&--user
				max-width: 370px

				.form-item
					&:last-child
						margin-bottom: 0

		.form
			&-item
				

				&__select
					margin-bottom: 0

				textarea
					padding-top: 16px
					height: 160px	









.payment
	display: flex
	flex-wrap: wrap
	margin-bottom: 24px


	&-item
		margin-right: 16px

		&:last-child
			margin: 0

		input[type='radio']
			display: none

			&+label
				position: relative
				display: flex
				align-items: center
				height: 56px
				min-width: 200px
				padding-left: 46px
				padding-right: 16px
				font-size: 15px
				line-height: 18px
				border: 1px solid #E0E0E0
				border-radius: 4px
				cursor: pointer

				&:before
					content: ''
					position: absolute
					width: 22px
					height: 22px
					left: 16px
					top: 16px
					border: 4px solid #E0E0E0
					border-radius: 50%

				

			&:checked

				&+label
					background: #FFFBE6
					border-color: $yellow

					&:before
						border-color: $yellow
						border-width: 2px

					&:after
						content: ''
						position: absolute
						left: 21px
						top: 21px
						width: 12px
						height: 12px
						border-radius: 50%
						background: $yellow

.succses
	padding: 64px 0
	text-align: center

	img
		display: block
		margin: 0 auto 24px

	.h1
		margin-bottom: 6px

	p
		margin-bottom: 24px
		font-size: 16px
		line-height: 20px
		color: #455A64




.profile
	overflow: hidden

	&-header
		display: flex
		flex-wrap: wrap
		

		.h2
			width: calc(100% - 48px)
			padding-left: 18px
			text-align: left

	.tabs
		&-wrap
			max-width: 870px
			padding-top: 32px

		&-nav
			margin-bottom: 12px
			text-align: left

		&-item

			&__body
				position: relative
				padding: 36px
				background: #FFFFFF
				border: 1px solid #ECECEC
				box-shadow: 0px 8px 24px rgba(163, 197, 204, 0.24)
				border-radius: 6px
				z-index: 10

		&-profile
			position: relative

			&:before
				content: ''
				position: absolute
				left: 90%
				top: 0
				width: 580px
				height: 580px
				background: url(../img/tabs-profile.png) no-repeat

		&-settings
			position: relative

			&:before
				content: ''
				position: absolute
				left: 90%
				top: 0
				width: 590px
				height: 520px
				background: url(../img/tabs-settings.png) no-repeat

		&-history
			position: relative

			&:before
				content: ''
				position: absolute
				left: 90%
				top: 0
				width: 630px
				height: 500px
				background: url(../img/tabs-history.png) no-repeat



			.history-table__td
				&:first-child
					max-width: 120px

				&:nth-child(2)
					min-width: 190px


			.history-more__table--td
				font-size: 16px

				&:first-child
					width: calc(100% - 200px)

				&:last-child
					width: auto
					padding-left: 20px



	&-item
		margin-bottom: 36px

		.h4
			color: #263239

		p
			max-width: 596px
			margin-bottom: 12px
			font-size: 16px
			line-height: 20px
			color: #455A64

		&__header
			display: flex
			flex-wrap: wrap
			align-items: center
			justify-content: space-between

			.form-item__select
				min-width: 270px


	&-data
		display: flex
		flex-wrap: wrap

		&__item
			margin-right: 36px

			&:last-child
				margin-right: 0

			span
				display: block
				font-size: 16px
				line-height: 26px

				&:first-child
					font-size: 15px
					line-height: 18px
					color: #96969C

	&-form
		max-width: none
		padding: 0
		border: 0
		box-shadow: none

		.form-item
			max-width: 370px

		.footnote
			max-width: 370px
			font-size: 14px
			line-height: 16px
			color: #4B4B4B


.change-pass
	max-width: 270px







.ic
	display: inline-block
	width: 48px
	height: 48px

	&-user
		background: url(../img/user-icon.png) no-repeat

	&-management
		background: url(../img/management-icon.png) no-repeat

	&-scroll
		width: 30px
		height: 30px
		background: url(../img/scroll-icon.svg) no-repeat

	&-filter
		width: 26px
		height: 26px
		background: url(../img/filter.svg) no-repeat
		background-size: contain



.history

	&-table
		display: flex
		flex-wrap: wrap

		&__row
			display: flex
			width: 100%

			&:first-child
				>div
					padding-top: 0

					

			&--hidden
				display: none

				&.active
					display: flex

			&--header
				>div
					font-size: 15px
					line-height: 18px
					color: #96969C
					border-bottom: 1px solid #E0E0E0
					border-top: 0
					

		&__td
			flex: 1
			padding-top: 12px
			padding-bottom: 12px
			padding-right: 20px
			border-top: 1px solid #E0E0E0
			font-size: 16px
			color: #263239


			&:first-child
				max-width: 140px

			&:last-child
				padding-right: 0

			span
				display: block
				margin-bottom: 18px

			a
				font-size: 14px
				line-height: 18px
				color: $red
				display: inline-block
				border-bottom: 1px dashed

			
	&-more
		width: 100%
		padding: 0 16px 16px
		border: 1px solid #ECECEC
		border-radius: 6px


		&__table
			display: table
			width: 100%

			&--row
				display: table-row
						

				&:last-child
					>div
						border: 0


			&--td
				display: table-cell
				padding: 16px 0
				vertical-align: middle
				border-bottom: 1px solid #D9D9DE

				&:first-child
					width: calc(100% - 150px)

				&:last-child
					width: 150px

			&--img
				display: flex
				align-items: center

			&--name
				padding-left: 24px

				p
					font-size: 16px
					line-height: 26px
					margin-bottom: 6px

				span
					font-size: 14px
					line-height: 16px
					color: #4B4B4B


.buying
	padding: 40px 0 0

	&-text
		padding: 36px 0 0

		h1, .h1
			margin-bottom: 12px
			letter-spacing: 0.005em
			color: #263239

		h4, .h4
			margin-bottom: 8px
			color: #455A64

		p
			margin-bottom: 34px
			color: #455A64
			font-size: 16px

	&-advantages
		display: flex
		margin-bottom: 32px

		&__item
			display: flex
			height: 168px
			background: #FFFFFF
			box-shadow: 0px 6px 24px rgba(69, 90, 100, 0.12)
			border-radius: 6px

			span
				padding: 0 12px
				font-size: 16px
				line-height: 20px
				color: #455A64

			&--money
				flex-direction: column
				justify-content: space-between

				span
					padding: 20px 13px

			&--profit
				flex-direction: row
				align-items: center

	&-more
		text-align: center

		a
			display: inline-block

			span
				display: block
				margin-bottom: 30px
				font-size: 15px
				line-height: 18px
				color: #455A64

	&-gold
		background: url(../img/buying/gold-jewelry.png) right bottom no-repeat

	&-phone
		background: url(../img/buying/phone-1.png) left bottom no-repeat,url(../img/buying/phone-2.png) right center no-repeat

	&-tablet
		padding-bottom: 70px
		background: url(../img/buying/tablet-1.png) left bottom no-repeat,url(../img/buying/tablet-2.png)  right top 30% no-repeat

	&-laptop
		padding-bottom: 90px
		background: url(../img/buying/laptop.png) left bottom no-repeat

	&-tv
		background: url(../img/buying/tv.png) right center no-repeat

	&-apple
		background: url(../img/buying/apple-1.png) center 12% no-repeat,url(../img/buying/apple-2.png) right bottom no-repeat

	&-camera
		background: url(../img/buying/camera.png) right top no-repeat

	&-technical
		background: url(../img/buying/technical.png) right center no-repeat

	&-building-instruments
		background: url(../img/buying/building-instruments.png) right bottom no-repeat

	&-music-instruments
		background: url(../img/buying/music-instruments.png) right center no-repeat

	&-computer
		background: url(../img/buying/computer.png) right center no-repeat

	&-playstation
		background: url(../img/buying/playstation.png) right center no-repeat

	&-fur-coat
		background: url(../img/buying/fur-coat.png) right center no-repeat


.modal
	display: none
	max-width: 406px
	width: 100%
	padding: 36px 24px 24px

	form
		>.btn
			width: 100%

	.h4
		color: #263239

	p
		margin-bottom: 24px
		font-size: 16px
		line-height: 20px
		color: #455A64

	&-delete

		&__btn
			display: flex
			flex-direction: column

			.btn
				margin-bottom: 16px

				&:last-child
					margin-bottom: 0

	&-city
		max-width: 550px

		&__form
			width: 100%
			margin-bottom: 32px
			max-width: none
			box-shadow: 0px 6px 24px rgba(107, 145, 153, 0.24)

		&__list
			list-style: none
			column-count: 3
			column-gap: 72px

			li
				margin-bottom: 16px
				a
					font-size: 16px
					line-height: 26px
					color: #455A64

					&:hover
						color: $red
						opacity: 1

	&-contacts
		max-width: 920px

		&__wrap
			display: flex
			flex-wrap: wrap
			align-items: center

		&__img
			width: 58%

		&__form
			width: 42%

			textarea
				height: 96px
				padding-top: 16px

	
	&-success
		max-width: 400px
		text-align: center

		img
			display: block
			margin: 0 auto 24px

		.h4
			margin-bottom: 2px

		.btn
			width: 100%




.service
	&-banner
		padding: 100px 0
		min-height: 400px
		display: flex
		align-items: center
		background: url(../img/service-banner.png) no-repeat right center

		&__text
			
			.h1
				margin-bottom: 12px
				color: #263239

			.h4
				margin-bottom: 32px
				color: #455A64

.guarantee
	background: url(../img/guarantee-bg.png) no-repeat 113% bottom

	&-text
		max-width: 472px

		.h2
			text-align: left

		p
			margin-bottom: 16px
			color: #455A64
			font-size: 16px
			line-height: 26px

		&__original
			display: flex
			flex-wrap: wrap
			align-items: center
			padding: 12px 16px 12px 24px
			background: #FFFFFF
			border: 1px solid #ECECEC
			box-shadow: 0px 6px 24px rgba(69, 90, 100, 0.12)
			border-radius: 6px

			img
				width: 128px

			span
				width: calc(100% - 128px)
				padding-left: 24px
				font-size: 16px
				line-height: 26px

.price

	.tabs
		&-item
			&__body
				padding: 36px
				background: #FFFFFF
				border: 1px solid #ECECEC
				box-shadow: 0px 8px 24px rgba(163, 197, 204, 0.24)
				border-radius: 6px


	&-table
		width: 100%


		thead

			td
				padding-bottom: 16px
				font-size: 15px
				line-height: 18px
				color: #96969C
				border-bottom: 2px solid #E0E0E0
				vertical-align: middle

		tbody

			tr
				td
					padding: 12px
					vertical-align: middle
					border-bottom: 1px solid #ECECEC
					font-size: 16px
					line-height: 20px
					color: #263239

					&:first-child
						width: 70%
						padding-left: 0

					&:last-child
						padding-right: 0

.about
	position: relative
	top: -150px
	padding: 56px 128px 20px
	margin-bottom: -50px
	background: #455A64
	box-shadow: 0px 8px 32px rgba(61, 95, 102, 0.24)
	border-radius: 6px
	color: #fff

	&-us
		margin-top: 120px
		margin-bottom: 72px

		&:before
			transform: skewY(-2deg)

	.h2
		color: #fff

	
	&-wrap
		display: flex
		flex-wrap: wrap

	&-item
		display: flex
		flex-wrap: wrap
		align-items: flex-start
		margin-bottom: 36px

		img
			width: 72px

		&__text
			width: calc(100% - 72px)
			padding-left: 16px
			font-size: 16px
			line-height: 20px
			color: #E0E0E0

			.h6	
				margin-bottom: 6px
				color: #fff

.problems
	
	&-wrap
		display: flex
		flex-wrap: wrap

	&-item
		margin-bottom: 30px
		padding: 24px 22px
		background: #FFFFFF
		border: 1px solid #ECECEC
		box-shadow: 0px 8px 24px rgba(163, 197, 204, 0.24)
		border-radius: 6px

		.h4
			color: #263239

		p
			font-size: 16px
			line-height: 20px
			color: #455A64

	&-btn
		margin-bottom: -88px
		text-align: center

























@media screen and (max-width: 1599px)
	
	.banner

		.slick
			&-prev
				left: 30px
			
			&-next
				right: 30px


	.buying
		background: transparent

	.catalog
		&-item
			&__brands
				display: block
				height: 120px
				padding: 12px

				img
					margin: 0 auto 6px
					max-height: 46px

				span
					&:last-child
						display: block
						padding: 0
						height: 40px
						display: flex
						align-items: center
						justify-content: center
						max-width: none
						text-align: center









@media screen and (max-width: 1199px)

	.article .h1:before, .article h1:before
		width: 100%
	

	.header-social
		display: none

	.header-top__menu li
		margin: 0 6px


	.main-menu
		>li
			margin: 0 4px

			a.catalog-btn span
				width: 85px
				overflow: hidden
				white-space: nowrap


	.catalog-menu
		top: 200px

	.social-btn
		li
			margin-bottom: 6px

	.service
		&-banner
			background-position: 170% center













@media screen and (max-width: 991px)
	
	.mobile-menu
		display: block

		li

			&.mobile-menu__search

				&:before, &:after
					display: none

				.form-search
					max-width: none

					&__field
						padding-left: 20px

	.main-menu
		>li:not(:first-child)
			display: none

	.header
		&-middle

			.form-search
				display: none

		&-top
			&__menu
				display: none

	.footer

		&-links
			padding-top: 40px

			&__item
				margin-bottom: 15px

				ul
					display: none

				.h4
					position: relative
					margin-bottom: 0
					font-size: 18px

					&:before
						content: '\e900'
						position: absolute
						right: 0
						top: 0
						font-family: icomoon
						font-size: 18px
						color: #000
						transition: all .3s

					&.active
						margin-bottom: 10px

						&:before
							transform: rotate(-180deg)

		&-info
			display: block
			text-align: center

			p
				width: auto
				padding: 0

		&-logo
			display: inline-block
			width: auto

		
		&-bottom

			&__wrap
				flex-direction: column
				justify-content: center

			&__copy
				margin-bottom: 10px

			&__link
				margin-bottom: 10px

	.section
		padding: 40px 0

	
	.tabs-nav li a
		padding: 0 20px 12px

	.sidebar
		position: fixed
		left: 0
		top: 200px
		width: 270px
		padding: 20px 16px  20px
		z-index: 1
		transform: translateX(-270px)
		height: calc(100vh - 154px)
		transition: all .3s

		>*:not(.sidebar-mobile__btn)
			display: none


		&.active
			z-index: 999
			background: #fff
			transform: translateX(0)
			overflow-y: scroll
			border-radius: 0 20px 0 0

			>*:not(.sidebar-mobile__btn)
				display: block

			.sidebar-item
				display: block

			.sidebar-mobile__btn
				right: 6px
				width: 30px
				height: 30px
				background: transparent

				.ic-filter
					background: transparent

					&:before
						content: '\e908'
						font-family: icomoon
						font-size: 30px
						color: #000



		&-mobile__btn
			position: absolute
			display: flex
			align-items: center
			justify-content: center
			right: -36px
			top: 0

		&-item
			.btn
				font-size: 16px


	.catalog

		&-products
			width: auto
			padding: 0

	
	.contacts

		&-block
			margin-bottom: 30px

	.social-btn
		margin-bottom: 16px

	.buying
		&-text
			padding: 0 0 30px

		.form
			margin: 0 auto

	.advantages

		&-block
			padding: 30px 0
			height: auto
			background-size: cover

			&__wrap
				display: block

			&__item
				max-width: 220px
				margin: 0 auto 30px

				&:last-child
					margin-bottom: 0
	.valuation
		&-wrap


		&-item
			width: 32%
			margin-bottom: 16px

	.faq
		&-block
			img
				display: none

	.card
		&-info
			margin-bottom: 32px

	.product
		&-description
			&__item

				.row
					[class^='col']
						margin-bottom: 32px


	.service
		&-banner
			padding: 32px 0
			min-height: auto
			background: transparent

	
	.guarantee
		background: none

	.price-table tbody tr td:first-child
		width: 60%

	.about
		padding: 56px 32px 20px

















@media screen and (max-width: 768px)
	
	.h1, h1
		font-size: 36px
		line-height: 42px

	.h2, h2
		margin-bottom: 24px
		font-size: 30px
		line-height: 36px

	.h3, h3
		margin-bottom: 16px
		font-size: 24px
		line-height: 28px

	.h4, h4
		font-size: 20px
		line-height: 24px

	.h5, h5
		margin-bottom: 16px
		font-size: 16px
		line-height: 20px

	.h6, h6
		font-size: 14px
		line-height: 18px

	.section
		padding: 30px 0

	.tabs
		&-nav
			display: none

		&-mobile__btn
			display: block
			position: relative
			padding: 24px 56px 24px 16px
			font-size: 16px
			line-height: 20px
			background: #ececec
			border-radius: 6px

			&:before
				content: '\e900'
				position: absolute
				width: 32px
				height: 32px
				display: flex
				align-items: center
				justify-content: center
				border-radius: 50%
				right: 16px
				top: 18px
				color: #fff
				background: $red
				font-size: 12px
				font-family: icomoon

		&-item
			display: block
			margin-bottom: 12px

			&__body
				display: none
				padding: 24px 0

		&-radio
			&-wrap
				.tabs
					&-item
						&__body
							display: block

	.online-assessment

		.form
			margin: 0 auto

		img
			display: none

	.news
		&-item
			max-width: 370px
			margin: 0 auto 30px


	.banner

		&-overlay
			padding: 30px 0

		&-text

			&__header
				font-size: 32px
				line-height: 40px

			&__btn
				max-width: 330px
				margin: 0 auto

				.btn
					width: 100%
					margin: 0 0 10px

			&__security
				justify-content: center

	.btn
		padding: 18px 16px 14px
		font-size: 18px

		&-finger
			.icon
				font-size: 20px

				&+span
					margin-left: 12px
	
	.form-item__code
		.btn
			padding: 12px 18px 9px
			font-size: 16px
			line-height: 25px

		.form-item
			width: 46%

		.btn
			width: 50%

	.map

		&-list

			&__top
				display: block

				.form-item__select
					max-width: 240px
					margin: 0 0 12px
					width: 100%

		&-place
			display: block

			.ymap
				height: 300px

	.news

		&-wrap

			&__list

				.news
					&-item
						display: block

						&__img
							width: auto

							img
								display: block
								margin: 0 auto

						&__info
							width: auto
							padding: 12px 0 0

	
	.page-404
		&__btn
			flex-direction: column
			max-width: 290px
			margin: 0 auto

			.btn
				margin: 0 0 12px
				width: 100%


	.product

		&-wrap
			
			[class^='col']
				width: 50%

		&-item

			.btn
				padding: 11px 16px 8px
				font-size: 16px

	.breadcrumbs
		margin: 12px 0 12px

	.history
		&-table
			&__td
				font-size: 12px

			&__row
				&--header
					>div
						font-size: 11px
						line-height: 12px


	.profile 
		.tabs-item__body
			padding: 24px 12px

			.form
				padding: 0 12px

	.modal

		&-contacts
			max-width: 90%
			&__img
				display: none

			&__form
				width: auto


	.buying
		&-advantages
			display: block

			&__item
				margin-bottom: 16px

				&--money
					display: block
					text-align: center

					img
						display: block
						margin: 0 auto

				&--profit
					justify-content: center



	.valuation
		&-item 
			width: 48.5%
			margin-bottom: 16px


	.card
		margin-bottom: 0

		&-img
			flex-direction: column-reverse

			&__slider
				width: 100%

				&--nav
					width: 100%
					padding: 0 40px


					.slick
						&-arrow
							top: 0px
							bottom: auto
							width: auto

						&-prev
							right: auto
							transform: rotate(-90deg)


						&-next
							left: auto
							top: 12%
							transform: rotate(-90deg)
			
						&-slide
							margin: 0 5px
	.problems
		&-wrap
			display: block












@media screen and (max-width: 550px)
	
	.header
		&-middle
			&__place
				display: none

			&__tel

				&--callback

					span
						display: none

				&--number
					font-size: 20px

		.logo
			max-width: 140px


		&-top
			padding: 8px 0

			&__login

				span
					font-size: 14px

		&-cart

			&__block
				width: 290px

	.form
		padding: 24px

	.banner
		&-overlay
			padding-left: 20px
			padding-right: 20px

		&-text
			&__header
				font-size: 24px
				line-height: 30px

			p
				font-size: 14px
				margin-bottom: 16px

		.slick-prev
			left: 10px

		.slick-next
			right: 10px


	.slick-arrow:before
		font-size: 18px
		color: #000

	.container
		padding-left: 15px
		padding-right: 15px

	.catalog
		&-wrap
			margin-left: -3px
			margin-right: -3px

			[class^='col']
				padding-left: 3px
				padding-right: 3px

		&-item
			height: 90px
			padding: 0 16px
			margin-bottom: 6px
			img, svg
				max-width: 36px

			span
				width: calc(100% - 46px)
				font-size: 13px
				line-height: 18px
				word-break: break-word
				max-height: 70px
				overflow: hidden

			&__brands
				height: 120px
				padding: 12px
				img
					max-width: 80px

				span
					width: auto

	.map

		&-main
			margin-bottom: 30px



		&-list

			&__item
				padding: 24px
				display: block

				&--img
					width: auto
					margin-bottom: 12px

					img
						display: block
						margin: 0 auto

				&--text
					padding: 0
					width: auto
					text-align: center

					.btn
						max-width: 290px
						width: 100%
	
	.pagination 
		li
			margin: 0 4px

			&:not(.pagination-arrow)
				a
					width: 28px
					height: 28px
					font-size: 14px

	.section
		&.inner
			padding: 0 0 30px

	.news
		.news-wrap__list
			margin-bottom: 12px

	.product
		&-wrap

			[class^='col']
				width: 100%

			&__table

				.product-item__btn
					min-width: auto
					flex-direction: column

					.btn-cart, .btn
						width: 100%

					.btn-cart
						margin-bottom: 6px
	
	.catalog
		&-top
			flex-direction: column
			align-items: flex-end

			&__sorting
				width: 100%
				margin-bottom: 12px

			&__view
				display: block
				text-align: right

				a
					display: inline-flex

		&-pagination
			flex-direction: column-reverse

			&__select
				display: flex
				justify-content: center
				margin-bottom: 12px

	.basket
		padding-top: 30px

		&-table
			&__info
				&--img
					max-width: 64px
					max-height: 64px
				&--text
					width: calc(100% - 64px)
					padding-left: 12px

			&__col

				strong
					font-size: 14px

				&--del
					width: 0
					
					button
						position: absolute
						right: 0
						top: 0

			&__row
				position: relative

		&-total
			margin: 30px 0 0

		&-order
			&__item
				&:last-child
					padding: 0

	.succses
		padding: 30px 0

	.payment
		&-item 
			input[type=radio]+label
				min-width: auto

	.history
		&-table
			min-width: 550px

			

			&__td
				a
					font-size: 10px
					line-height: 14px

		&-more
			&__table
				&--name
					max-width: 220px
					padding-left: 12px
					p
						font-size: 12px
						line-height: 20px
	
	.profile
		&-item
			overflow: scroll

	.faq
		&-item
			&__body
				p
					margin-bottom: 12px

	.social-btn
		li
			a
				width: 40px
				height: 40px
				font-size: 22px

	.modal

		&-city
			&__list
				column-count: 2